<footer class="pt-5 d-flex flex-column align-items-center justify-content-around">
	<ul class="social d-flex">
		<li class="mx-3">
			<a href="https://www.facebook.com/campgesher" style="background:#3b5998;" class="rounded-circle text-white">
                <i class="fab fa-fw fa-facebook-f"></i>
			</a>
		</li>
		<li class="mx-3">
			<a href="#" style="background: #55acee;" class="rounded-circle text-white">
				<i class="fab fa-fw fa-twitter"></i>
			</a>
		</li>
		<li class="mx-3">
			<a href="https://www.instagram.com/campgesher" style="background: #a1a1a1;" class="rounded-circle text-white">
				<i class="fab fa-fw fa-instagram"></i>
			</a>
		</li>
	</ul>

	<p style="color: #a1a1a1;">&copy; 2017 Camp Gesher</p>
</footer>

<script src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>
{{ $script := resources.Get "js/main.js" | resources.Minify }}
<script src="{{ $script.Permalink }}"></script>

</body>

</html>
