<footer class="pt-5 d-flex flex-column align-items-center justify-content-around">
	<ul class="social d-flex">
		<li class="mx-3">
			<a href="https://www.facebook.com/campgesher" style="background:#3b5998;" class="rounded-circle text-white">
                <i class="fab fa-fw fa-facebook-f"></i>
			</a>
		</li>
		<li class="mx-3">
			<a href="#" style="background: #55acee;" class="rounded-circle text-white">
				<i class="fab fa-fw fa-twitter"></i>
			</a>
		</li>
		<li class="mx-3">
			<a href="https://www.instagram.com/campgesher" style="background: #a1a1a1;" class="rounded-circle text-white">
				<i class="fab fa-fw fa-instagram"></i>
			</a>
		</li>
	</ul>

	<p style="color: #a1a1a1;">&copy; 2017 Camp Gesher</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.26/bootstrap-native-v4.min.js" integrity="sha256-GlvYPu8qg3GLj5W5pC8VbjXiw+HhzSyVaWYV27ibTJY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/instant.page/1.2.2/instantpage.min.js" integrity="sha256-WiWEkc8wP9MMhCQvobAnHNJKp48A6tKBq7/+ppEqgy4=" crossorigin="anonymous"></script>
{{ $script := resources.Get "js/main.js" | resources.Minify }}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>

</body>

</html>
