<footer class="pt-5 d-flex flex-column align-items-center justify-content-around">
	<ul class="social d-flex">
		<li class="mx-3">
			<a href="https://www.facebook.com/campgesher" style="background:#3b5998;" class="rounded-circle text-white">
                <i class="fab fa-fw fa-facebook-f"></i>
			</a>
		</li>
		<li class="mx-3">
			<a href="#" style="background: #55acee;" class="rounded-circle text-white">
				<i class="fab fa-fw fa-twitter"></i>
			</a>
		</li>
		<li class="mx-3">
			<a href="https://www.instagram.com/campgesher" style="background: #a1a1a1;" class="rounded-circle text-white">
				<i class="fab fa-fw fa-instagram"></i>
			</a>
		</li>
	</ul>

	<p style="color: #a1a1a1;">&copy; 2017 Camp Gesher</p>
</footer>

<script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/scripts.js"></script>

</body>

</html>
