<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-faded">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="/images/logo.svg" alt="Logo" height="40" class="mr-2">Camp Gesher
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto">
			{{ range .Site.Menus.main }}
				{{ if .HasChildren }}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ .URL }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ .Name }}
					</a>
					<div class="dropdown-menu">
					{{ range .Children }}
						<a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
					{{ end }}
					</div>
				</li>
				{{ else }}
				<li class="nav-item">
					<a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
				</li>
				{{ end }}
			{{ end }}
			</ul>
		</div>
	</div>
</nav>