{{ define "main" }}

<header id="home-header" class="d-flex align-items-center justify-content-center"></header>

<section id="middle" class="d-flex justify-content-center align-items-center" style="height: 300px;">
	<div>
		<a href="https://gallery.campgesher.com" class="btn btn-lg btn-light mx-2">Photos</a>
		<a href="https://gesher.campbrainregistration.com" class="btn btn-lg btn-outline-light mx-2">Register</a>
	</div>
</section>

<section class="py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-4 pt-3">
				<h4>Community</h4>
				<p>At Camp Gesher we take pride in the fact that everyone gets to know one another due to the small size of our camp. The concept of kvutza or group is central to the spirit of Camp Gesher.</p>
			</div>
			<div class="col-md-4 pt-3">
				<h4>Leadership &amp; Responsibility</h4>
				<p>At Camp Gesher we take pride in the fact that everyone gets to know one another due to the small size of our camp. The concept of kvutza or group is central to the spirit of Camp Gesher.</p>
			</div>
			<div class="col-md-4 pt-3">
				<h4>Jewish Living</h4>
				<p>Camp Gesher emphasizes Jewish culture, tradition and community through educational activities. We use Hebrew in many of our day-to-day conversations and many activities and camp traditions.</p>
			</div>
		</div>
	</div>
</section>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-6 p-0">
			<img src="/rentals/basketball-court-dining-room-entrance.jpg" alt="" style="width: 100%; height: 100%;">
		</div>
		<div class="col-md-3 col-6 p-0">
			<img src="/rentals/front-of-dining-hall.jpg" alt="" style="width: 100%; height: 100%;">
		</div>
		<div class="col-md-3 col-6 p-0">
			<img src="/rentals/fire-pit.png" alt="" style="width: 100%; height: 100%;">
		</div>
		<div class="col-md-3 col-6 p-0">
			<img src="/rentals/water-tubing.jpg" alt="" style="width: 100%; height: 100%;">
		</div>
	</div>
</div>

<section class="text-center" style="background: #4A4A4A; padding: 100px 0; color: white;">
	<h1>There's something for everyone!</h1>
</section>

{{ end }}